API_BASE_URL=https://apigw-kr.hmg-corp.io

HMC_CLIENT_ID=
HMC_CLIENT_SECRET=

KIA_CLIENT_ID=
KIA_CLIENT_SECRET=

VENDOR_CODE=

ERP_DB_SERVER_ADDRESS = ''
ERP_DB_NAME = ''
ERP_DB_USERNAME = ''
ERP_DB_PASSWORD = ''
