ERP_DB_SERVER_ADDRESS = ''
ERP_DB_NAME = ''
ERP_DB_USERNAME = ''
ERP_DB_PASSWORD = ''

AUTOWAY_MAIL_SCHEDULE_ID = '5'
AUTOWAY_MAIL_HEADLESS = '1'
AUTOWAY_MAIL_KEEP = 'Y'

POPPLER_PATH = 'C:\chromedriver\poppler-22.04.0\Library\bin'

SIGNALR_HUB_URL = 'http://10.205.10.103:1880/gumchangHub'
SIGNALR_GROUP = 'SCHEDULER'

SIGNALR_SYSTEM = 'AUTOWAY_MAIL'
