ERP_DB_SERVER_ADDRESS = ''
ERP_DB_NAME = ''
ERP_DB_USERNAME = ''
ERP_DB_PASSWORD = ''

MOBIS_AS_SCHEDULE_ID = '1'

SIGNALR_HUB_URL = 'http://10.205.10.103:1880/gumchangHub'
SIGNALR_GROUP = 'SCHEDULER'

SIGNALR_SYSTEM = 'MOBIS_AS'
