ERP_DB_SERVER_ADDRESS = ''
ERP_DB_NAME = ''
ERP_DB_USERNAME = ''
ERP_DB_PASSWORD = ''

HD_SEAT_JIT_SCHEDULE_ID = '16'
HD_SEAT_JIT_VPN_SCHEDULE_ID = '18'
HD_SEAT_JIT_OTP_SCHEDULE_ID = '17'
HD_SEAT_JIT_HEADLESS = '1'

SIGNALR_HUB_URL = 'http://10.205.10.103:1880/gumchangHub'
SIGNALR_GROUP = 'SCHEDULER'

SIGNALR_SYSTEM = 'HD_SEAT_JIT'
